/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  height: 100%;
  position: fixed;
  background-color: #f1f1f1;
  overflow: auto;
  text-align: center;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Links on mouse-over */
.sidebar a:hover {
  background-color: #555;
  color: white;
}